{% for item in items %}
    <li class="
        {{ item.items ? 'has-submenu' : '' }}
      {{ item.isActive or item.isChildActive ? 'active' : '' }} 
      {{ item.items ? 'dropdown' : '' }}
    ">
     <a href="#">Services</a>

      {% if item.items %}
         <ul class="sub-menu">
          {% for subitem in item.items %}
            <li class="
                {{ subitem.items ? 'has-submenu' : '' }}
                ">
                <a href="{{ subitem.url }}">{{ subitem.title }}</a>
                {% if subitem.items %}
                    <ul class="sub-menu">
                        {% for ssubitem in subitem.items %}
                            <li><a href="{{ ssubitem.url }}">{{ ssubitem.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
          {% endfor %}
       </ul>
      {% endif %}
    </li>
  {% endfor %}