<!-- Javascript -->    
        <script src="{{ 'assets/js/jquery.min.js' | theme }}"></script>
        {% placeholder scripts %}
        <script src="{{ 'assets/js/tether.min.js' | theme }}"></script>
        <script src="{{ 'assets/js/bootstrap.min.js' | theme }}"></script>
        <script src="{{ 'assets/js/jquery.easing.js' | theme }}"></script>    
        <script src="{{ 'assets/js/jquery-waypoints.js' | theme }}"></script>    
        <script src="{{ 'assets/js/jquery-validate.js' | theme }}"></script> 
        <script src="{{ 'assets/js/owl.carousel.js' | theme }}"></script>
        <script src="{{ 'assets/js/jquery.prettyPhoto.js' | theme }}"></script>
        <script src="{{ 'assets/js/numinate.min6959.js?ver=4.9.3' | theme }}"></script>
        <script src="{{ 'assets/js/lazysizes.min.js' | theme }}"></script>
        <script src="{{ 'assets/js/main.js' | theme }}"></script>