<!-- Javascript -->    
        <script defer src="{{ 'assets/js/jquery.min.js' | theme }}"></script>
        <script defer src="{{ 'assets/js/tether.min.js' | theme }}"></script>
        <script defer src="{{ 'assets/js/bootstrap.min.js' | theme }}"></script>
        <script defer src="{{ 'assets/js/jquery.easing.js' | theme }}"></script>    
        <script defer src="{{ 'assets/js/jquery-waypoints.js' | theme }}"></script>    
        <script defer src="{{ 'assets/js/jquery-validate.js' | theme }}"></script> 
        <script defer src="{{ 'assets/js/owl.carousel.js' | theme }}"></script>
        <script defer src="{{ 'assets/js/jquery.prettyPhoto.js' | theme }}"></script>
        <script defer src="{{ 'assets/js/numinate.min6959.js?ver=4.9.3' | theme }}"></script>
        <script defer src="{{ 'assets/js/lazysizes.min.js' | theme }}"></script>
        <script defer src="{{ 'assets/js/main.js' | theme }}"></script>

        <!-- Revolution Slider -->
        <script defer src="{{ 'assets/revolution/js/revolution.tools.min.js' | theme }}"></script>
        <script defer src="{{ 'assets/revolution/js/rs6.min.js' | theme }}"></script>
        <script defer src="{{ 'assets/revolution/js/slider.js' | theme }}"></script>

        <!-- Javascript end-->